# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8f6ffab5fbed190732e3de65a7d12569f90c2c4f9ded26fe35437dfae02bda64782bfd7f10c01375fb8cd3f48d161570eb0a2304b972fe2fd9fb06376f8a86b8

test:
  secret_key_base: 8358f75c657a1b1995a52b273ecf0d12c0a9886cdccd147581f7989d3f4a3a16c969ac537cd63f518f8eead5e40b275ac16fe5339ca494de2835c5df2d0049ef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
